* {
  box-sizing: border-box;
}

body {
  height: 98vh;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: bottom;
  font-family: 'Shojumaru', cursive;
  color: #FF4500;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.row {
  width: 100%;
  text-align: center;
}


h1 {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #99ff33;
}

.name {
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  height: 330px;
}

.name h1 {
  font-size: 50px;
  background-color: transparent;
}

.game-area {
  display: flex;
  width: 100%;
  height: 800px;
  justify-content: space-around;

}



.rules,
.result-buttons {
  width: 20%
}

#rules-table {
  background-image: url("../images/result background.jpg");
  height: 645px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-repeat: no-repeat;
}

.rule {
  padding: 10px;
  font-size: 20px;
  height: 10%;
  background-image: url("../images/bg-name-rules-components.png");
}

.game {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#canvas-div {
  position: relative;
}

#myCanvas {
  background-color: #ccff99;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 10px;

}

#input-div {

  position: absolute;
  width: 300px;
  height: 400px;
  display: none;
  background-color: red;
  top: 128px;
  left: 165px;
}

#form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  color: #99ff33;
}

#input-field {
  width: 80%;
  height: 70px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Shojumaru', cursive;
  color: #FF4500;
}

#submit-button {
  width: 150px;
  height: 60px;
  border-radius: 10px;
  background-color: #99ff33;
  color: #FF4500;
  font-family: 'Shojumaru', cursive;
  cursor: pointer;
}

#result {
  background-image: url("../images/result background.jpg");
  height: 645px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}



#page-mask {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}



.no-margin {
  margin: 0;
  width: 100%;
}

.score-div {
  /* padding: 15px; */
  border-radius: 10px;
  background-color: #99ff33;
  width: 630px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#new-game {
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #99ff33;
  background: #FF4500;
  font-family: 'Shojumaru', cursive;
  /*button color*/
  border-bottom: solid 2px #d27d00;
  /*daker color*/
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;

}

#new-game:hover {
  cursor: pointer;
}

#new-game:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);

}

.result-name-score {
  display: flex;
  justify-content: space-around;
  height: 10%;
  background-image: url('../images/bg-name-rules-components.png');
}

.result-name, .result-score{
  width: 50%;
  height:50%;
  padding:20px;
  font-size: 20px;

}
/* newDivName.style.height = "50%";
    newDivName.style.width = "50%";
    newDivScore.style.height = "50%";
    newDivScore.style.width = "50%"
    newDivName.style.padding = "20px";
    newDivScore.style.padding = "20px";
    newDivName.style.fontSize = "20px";
    newDivScore.style.fontSize = "20px"; */